.image-scroll {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateY(-50%); /* keep it vertically centered */
  width: 70%;
  height: 90%;
  border-radius: 50%;
  box-shadow: 15px 0px 10px rgba(19, 19, 19, 0.589);
  object-fit: cover;

  /* animation */
  animation: slideIn linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes slideIn {
  from {
    transform: translate(-250px, -50%) scale(0.9); /* move from left */
    opacity: 0;
  }
  to {
    transform: translate(0, -50%) scale(1);
    opacity: 1;
  }
}
