.image-scroll {
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  width: 70%;
  height: 90%;
  border-radius: 50%;
  box-shadow: 15px 0px 10px rgba(19, 19, 19, 0.589);
  object-fit: cover;
  z-index: 1;

  /* Animate position + opacity while scrolling */
  animation: slideBoth linear both;
  animation-timeline: view();
  animation-range: entry 0% exit 100%;
}

@keyframes slideBoth {
  0% {
    left: -100%;
    opacity: 0;
    transform: translateY(-50%) scale(0.9);
  }
  25% {
    left: -50%;
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
  75% {
    left: -50%;
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
  100% {
    left: -100%;
    opacity: 0;
    transform: translateY(-50%) scale(0.9);
  }
}
