body{
  overflow-x: hidden;
}
.image-scroll {
  position: absolute;
  top: 50%;
  left: -100%; /* Start completely off-screen */
  transform: translateY(-50%);
  height: 100vh;

  border-radius: 50%;
  box-shadow: 15px 0px 10px rgba(19, 19, 19, 0.589);
  object-fit: cover;
  z-index: 1;
  /* Scroll animation */
  animation: slideIn linear both;
  animation-timeline: view();
  animation-duration: 4s;
  animation-range: entry 0% cover 20%;
}

@keyframes slideIn {
  0% {
    left: -100%;   /* Start off-screen */
    opacity: 0;
    transform: translateY(-50%) scale(0.9);
  }
  100% {
    left: -30%;    /* Final correct position */
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}

/* 
animation for food */
.image-scroll-food {
  position: absolute;
  top: 50%;
  right: -100%; /* Start completely off-screen */
  transform: translateY(-50%);
  width: 70%;
  height: 90%;
  border-radius: 50%;
  box-shadow: 15px 0px 10px rgba(19, 19, 19, 0.589);
  object-fit: cover;
  z-index: 1;

  /* Scroll animation */
  animation: slideIns linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

@keyframes slideIns {
  from {
    right: -100%;   /* Start off-screen */
    opacity: 0;
    transform: translateY(-50%) scale(0.9);
  }
  to {
    right: -50%;    /* Final correct position */
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}


.image-scroll-activities {
  position: absolute;
  top: 50%;
  left: -100%; /* Start completely off-screen */
  transform: translateY(-50%);
  width: 70%;
  height: 90%;
  border-radius: 50%;
  box-shadow: 15px 0px 10px rgba(19, 19, 19, 0.589);
  object-fit: cover;
  z-index: 1;

  /* Scroll animation */
  animation: slideInss linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

@keyframes slideInss {
  from {
    left: -100%;   /* Start off-screen */
    opacity: 0;
    transform: translateY(-50%) scale(0.9);
  }
  to {
    left: -50%;    /* Final correct position */
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}


