body{
  overflow-x: hidden;
}


.image-scroll {
  position: absolute;
  top: 50%;
  left: -20%;
  /* transform: translateY(-50%) scale(0.8) rotate(-10deg); */
  height: 90vh;
  width: 50vw;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 25px 0px 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0;

  /* Scroll animation */
  animation: pulseGrow linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
}

/* Optional hover effect */
@keyframes pulseGrow {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
    box-shadow: 0 0 0 rgba(255,255,255,0);
  }
  50% {
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
    box-shadow: 0 0 30px rgba(255,255,255,0.3);
  }
  100% {
    transform: translateY(-50%) scale(1);
    box-shadow: 15px 0px 10px rgba(19, 19, 19, 0.589);
  }
}





/* 
animation for food */
.image-scroll-food {
  position: absolute;
  top: 50%;
  right: -100%; /* Start completely off-screen */
  transform: translateY(-50%);
  width: 70%;
  height: 90%;
  border-radius: 50%;
  box-shadow: 15px 0px 10px rgba(19, 19, 19, 0.589);
  object-fit: cover;
  z-index: 1;

  /* Scroll animation */
  animation: slideIns linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

@keyframes slideIns {
  from {
    right: -100%;   /* Start off-screen */
    opacity: 0;
    transform: translateY(-50%) scale(0.9);
  }
  to {
    right: -50%;    /* Final correct position */
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}


.image-scroll-activities {
  position: absolute;
  top: 50%;
  left: -100%; /* Start completely off-screen */
  transform: translateY(-50%);
  width: 70%;
  height: 90%;
  border-radius: 50%;
  box-shadow: 15px 0px 10px rgba(19, 19, 19, 0.589);
  object-fit: cover;
  z-index: 1;

  /* Scroll animation */
  animation: slideInss linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

@keyframes slideInss {
  from {
    left: -100%;   /* Start off-screen */
    opacity: 0;
    transform: translateY(-50%) scale(0.9);
  }
  to {
    left: -50%;    /* Final correct position */
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}


